*.elc
*~
/auto-save-list/
/elpa/
backups/
compile.log
ido.last
/var/
smex-items
savehist
recentf
platform.el
places
.emacs.desktop
*.lock
tramp
.mc-lists.el
abbrev_defs
/eshell/
kill-ring-saved.el
network-security.data
semanticdb/
private.el
history
projectile-bookmarks.eld
xkcd
saveplace
url
server
tmp
bookmarks
company-statistics-cache.el
projectile.cache
